{{#if directory.path}}
    <li class="expanded-item">
        {{directory.path}}
    </li>
{{/if}}
<ul>
    {{#each directory.directories}}
        <li
            class="directory-item"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-get="/tags/{{this}}"
        >
            {{this}}
        </li>
        {{else}}
        <li class="no-result-item">
            No names found
        </li>
    {{/each}}

    {{#each directory.manifests}}
        <li class="manifest-item">
            {{this}}
        </li>
        {{else}}
        <li class="no-result-item">
            No tags found
        </li>
    {{/each}}
</ul>
