{{#if directory.path}}
    <li class="expanded">
        <div class="overflow-truncate">{{directory.path}}</div>
    </li>
{{/if}}
<ul>
    {{#each directory.directories}}
        <li
            class="directory-item"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-get="/tags/{{this}}"
        >
            <div class="overflow-truncate">{{this}}</div>
        </li>
        {{else}}
        <li class="no-result-item secondary-text">
            No names found
        </li>
    {{/each}}

    {{#each directory.manifests}}
        {{> manifest manifest=this}}
        {{else}}
        <li class="no-result-item secondary-text">
            No tags found
        </li>
    {{/each}}
</ul>
