{{#if manifest.content}}
    <li class="manifest-item expanded">
        <div class="overflow-truncate">{{manifest.name}}</div>
        <pre class="manifest-content">{{manifest.content}}</pre>
    </li>
{{else}}
    <li
        class="manifest-item"
        hx-trigger="click"
        hx-swap="outerHTML"
        hx-get="/htmx/manifest/{{manifest.path}}"
    >
        <div class="overflow-truncate">{{manifest.name}}</div>
    </li>
{{/if}}
